.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center;
  }
  
  
  .AdminHeader {
    background-color: #000;
    height: 5vh;
    width: 100vw;
    position: absolute;
    top: 0;
    color: #fff !important;
    
    .MuiButton-root{
      color: #fff !important;
  
    }
  
    .AdminHeaderPanel{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      // width: 100%;
      margin: 0 10px;
      
      div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40vw;
  
        p{
          margin-right: 30px;
        }
        span{
          &:hover{
            cursor: pointer;
            text-decoration: underline;
            color: #C7E8FF;
          }
        }
      }
    }
  }
  