
.AdminBody {
  overflow: auto;
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Paper {
  /* margin: 20px; */
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  width: 90vw;

}

.CeremoniesPaper {
  // height: 30vh !important;
}

.MuiGridListTile-root{
  // height: 100% !important;
  height: 200px !important;
  width: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

.MuiGridListTile-tile{
  width: 100%;
}


.PaperCeremony{
  position: relative;
  padding: 20px;
  margin: 1px 3px;

  &:hover{
    background-color: #E5E5E5;
    cursor: pointer;
  }

  &:hover .DeleteButton{
    display: block !important;
  }
}  

.DeleteButton{
  position: absolute !important;
  right: 0;
  top:0;
  display: none !important;
}

.PaperCeremonyData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}



.TablePaper {
  height: 51vh;
}

.CeremoniesGridListRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // height: 100% !important ;
}
.CeremoniesGridList {
  display: flex;
  flex-wrap: nowrap !important;
  transform: translateZ(0);
  width: 100% ;
}

.CeremoniesTitleBar {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.CeremoniesTitle {
  color: blue;
}

.ReservationsTable {
}

.AdminFooter {
  background-color: #000;
  width: 100vw;
  height: 5vh;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.Fab {
  position: absolute !important;
  top: 12px;
  right: 20px;
  background-color: #000 !important;
  color: #fff !important;
  z-index: 999 !important;
  
  &:hover {
    background-color: #393939 !important;
  }
}

.CeremonyDialog{
  
}

.Form{
  display: flex ;
  flex-direction: column;
  height: 50vh;
  max-width: 25vw;
  min-width: 400px;
  justify-content: space-evenly;
  
  .CheckBoxes{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

